# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Large AI model files
*.bin
*.safetensors
*.pt
*.pth

# Logs
*.log